<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <%-include('../partial/style.ejs')%>
        <title>Users</title>
    </head>
    <body>
        <div class="container">
            <h1>Sign Up</h1>
            <form class="" action="/users" method="POST">
                <label>Username:</label>
                <input type="text" name="username" required/><br/>
                <label>Password:</label>
                <input type="password" name="password"/><br/>
                <input type="submit" value="Submit"/>
                <button class="direct" type="button" onclick="window.location.href='/products'">Back</button>
            </form>
        </div>
    </body>
</html>
