<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <%-include('../partial/style.ejs')%>
        <title>New</title>
    </head>
    <body>
        <div class="container">
            <h1>New</h1>
        </div>
    </body>
</html>
