<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <%-include('../partial/style.ejs')%>
        <title>Edit</title>
    </head>
    <body>
        <nav>
            <%-include('../partial/nav.ejs')%>
        </nav>
        <div class="container">
            <h1>Editing Comment</h1>
            <form action="/authors/<%=item.id%>?_method=PUT" method="POST">
            </form>
        </div>
    </body>
</html> -->
